<div class="comment-form col-sm-11">
 <%= simple_form_for(@comment) do |f| %>
 <%= f.error_notification %>
    <%= f.text_field :content, placeholder: 'Ajouter un commentaire...', class: "comment_content", class: "is-rounded" %>
  <%= f.submit 'Ajouter un Commentaire', class: 'comment-submit-button is-rounded' %>
 <% end %>
</div>