<div class="column is-left is-one-third is-vcentered">
	<nav class="panel">
		<p class="panel-heading">Profile</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://bulma.io/images/placeholders/64x64.png">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><%= current_user.Nom_Complet %>, <%= current_user.bio %></p>
						
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div has-centered-text>
						<p class="heading"><i class="fas fa-friends">Amis</i></p>
						<p class="subtitle is-6 "><%= current_user.questions.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div has-centered-text>
						<p class="heading">Cours</p>
						<p class="subtitle is-6 "><%= current_user.course.count %></p>
					</div>
				</div>
			</div>
		</div>
		


	</nav>	
	
</div>

