
	<nav class="panel">
		<p class="panel-heading">Matières</p>


		<a class="panel-block">Histoire</a>
		<a class="panel-block">Géographie</a>
		<a class="panel-block">Math</a>
		<a class="panel-block">Physiques</a>
		<a class="panel-block">Chimie </a>
		<a class="panel-block">SVT </a>
		<a class="panel-block">Français</a>
		<a class="panel-block">Anglais </a>
		<a class="panel-block"> Philosophie</a>
		<a class="panel-block">EDHC</a>
		<a class="panel-block">Allemand</a>
		<a class="panel-block">Espagnol</a>
		<a class="panel-block">Entreprenariat</a>
		<a class="panel-block">Art Plastique</a>
	</nav>
