<section class="section">
  <div class="container">
    <div class="columns">
    <% if user_signed_in?%>
            
        <%= render 'profile' %>
            
        <%= render 'feed' %>
        <%= render 'who-to-follow' %>
        
    <% else %>
      <p> render sign in page</p>
    <% end %>      
    </div>
  </div>
</section>
